<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout::template (~{:: .uk-section})}">
<head>
</head>
<body>
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-heading-bullet">Zamówienia</h1>
        <table class="uk-table uk-table-striped">
            <tbody>

            <tr th:each="order : ${orders}">
                <td class="uk-flex uk-flex-column">
                    <div th:text="|${order.orderAdress.firstName} ${order.orderAdress.lastName}|"></div>
                    <div class="uk-text-meta">
                        <span th:text="${order.orderAdress.street}"></span>
                    </div>
                    <div class="uk-text-meta">
                        <span th:text="|${order.orderAdress.postalCode} ${order.orderAdress.city}|"></span>
                    </div>


                </td>

                <td class="uk-width-1-4">
                    <div class="uk-text-bold uk-margin-small" th:text="${order.pizzaName}"></div>
                </td>


            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>
