<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}">
<head>
</head>
<body>
<div class="uk-section">
    <h1 class="uk-heading-bullet">Lista Zamówień</h1>

    <div class="uk-child-width-1-3@s uk-text-center" uk-grid>
        <p class="uk-text-bold uk-card-body">Pizza</p>
        <p class="uk-text-bold uk-card-body">Imię i Nazwisko</p>
        <p class="uk-text-bold uk-card-body">Adres Dostawy</p>
    </div>
    <div class="uk-child-width-1-3@s uk-text-center uk-card-default uk-card-hover uk-margin-small"
         th:each="order : ${orders}" uk-grid>
        <div class="uk-card-body ">
            <div class="uk-text-center" th:text="${order.pizzaName}"></div>
        </div>
        <div class="uk-card-body ">
            <div class="uk-text-center"
                 th:text="${order.orderAdress.getFirstName()} + ' ' + ${order.orderAdress.getLastName()}"></div>
        </div>
        <div class="uk-card-body ">
            <div class=" uk-text-center"
                 th:text="${order.orderAdress.getStreet()} +', ' +${order.orderAdress.getPostalCode()} + ' ' + ${order.orderAdress.getCity()}"></div>
        </div>
    </div>
</div>
</body>
</html>